<header class='second-header'>
  <%= link_to image_tag("furima-logo-color.png", class:"second-logo"), root_path %>
  <nav>
    <%= link_to 'ログイン', new_user_session_path %>
    <%= link_to '新規登録', new_user_registration_path %>
  </nav>
</header>
